@model hr_management.Models.ConstructorRequest

@{
    ViewBag.Title = "DeleteRequest";
}



<h3>Are you sure you want to delete this?</h3>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReqId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReqId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiteStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Immidiate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Immidiate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Initial")
        </div>
    }
</div>
