@model IEnumerable<hr_management.Models.SupplierItemPrice>

@{
    ViewBag.Title = "ViewPrices";
}

<h2>Supplier Item Prices</h2>

<p>
    @Html.ActionLink("Create New", "AddPrice")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SupplierID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "UpdatePrice", new { id=item.SupplierItemPriceId }) |
            @Html.ActionLink("Details", "ViewPrice", new { id=item.SupplierItemPriceId })
        </td>
    </tr>
}

</table>
