@model IEnumerable<hr_management.Models.SiteItemQuantity>

@{
    ViewBag.Title = "getQuantities";
}

<h2>Site Quantity Details</h2>

<p>
    @Html.ActionLink("Create New", "AddQty")
</p>

<form id="formsearch" method="post">
    <div class="row" id="searchbox">
        <div class="col-md-1">Site ID</div>
        <div class="col-md-2"><input type="text" id="SID" name="SID" /></div>
        <div class="col-md-1"><input type="submit" id="submitsearch" value="Search" /></div>
    </div>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SiteID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SiteID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "UpdateQty", new { id=item.SiteItemQuantityId }) |
            @Html.ActionLink("Details", "getQuantity", new { id=item.SiteItemQuantityId }) 
            
        </td>
    </tr>
}

</table>
