@model hr_management.Models.Log

@{
    ViewBag.Title = "LogDetails";
}

<br/>
<br/>
<br/>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoggedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoggedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditLog", new { id = Model.LogId }) |
    @Html.ActionLink("Back to List", "Initial")
</p>
