@model IEnumerable<hr_management.Models.GoodReceipt>

@{
    ViewBag.Title = "getReceipts";
    Layout = null;
}




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReceiptId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseOrderReference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDetails)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiptId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseOrderReference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDetails)
        </td>
        <td>
           
            @Html.ActionLink("Details", "getDetails", new { id=item.GoodReceiptId }) 
           
        </td>
    </tr>
}

</table>
