@model hr_management.Models.Site

@{
    ViewBag.Title = "getSiteDetails";
}

<h2>Site Information</h2>

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SiteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StarageCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StarageCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentCapacity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SiteId }) |
    @Html.ActionLink("Back to List", "Initial")
</p>
