@model IEnumerable<hr_management.Models.Site>

@{
    ViewBag.Title = "Sites";
    Layout = null;
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StarageCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentCapacity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SiteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StarageCapacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentCapacity)
        </td>
        <td>
            @Html.ActionLink("Edit", "UpdateSite", new { id=item.SiteId }) |
            @Html.ActionLink("Details", "SiteDetails", new { id=item.SiteId }) |
            @Html.ActionLink("Delete", "DeleteSite", new { id=item.SiteId })
        </td>
    </tr>
}

</table>
